<section class="desktop">
	<div class="navigation">
		<a goto="/funder/home">
			<span class='icon'>&#xfe8a;</span>
			<span><$ home title /></span>
		</a>
		<a goto="/funder/cashflow">
			<span class='icon'>&#xef0e;</span>
			<span><$ cashflow title /></span>
		</a>
		<a goto="/funder/budgetplan">
			<span class='icon'>&#xecc2;</span>
			<span><$ budgetplan title /></span>
		</a>
	</div> 
	<div class="footer">
		<a goto="/funder/settings">
			<span class='icon'>&#xf337;</span>
			<span><$ settings title /></span>
		</a>
		<a goto="/funder/settings/">
			<img class="icon" src="/avatar/<#? activeuser.id ?#>?avatarversion=<#? activeuser.avatarversion ?#>"/>
			<span><#? activeuser.displayname ?#></span>
		</a>
	</div>
</section>

<section class="mobile">
	<span class="navigation">	
		<a goto="/funder/home">
			<span class='icon'>&#xfe8b;</span>
			<span><$ home title /></span>
		</a>
		<a goto="/funder/cashflow">
			<span class='icon'>&#xef0e;</span>
			<span><$ cashflow title /></span>
		</a>
		<a goto="/funder/budgetplan">
			<span class='icon'>&#xecc1;</span>
			<span><$ budgetplan title /></span>
		</a>
		<a goto="/funder/settings">
			<span class='icon'>&#xf337;</span>
			<span><$ settings title /></span>
		</a>
	</span> 
</section>