.root
{
    grid-template-areas: "Content";
    grid-auto-columns: auto;
}
    .root > header 
    {
        position: fixed;
        background-color: var(--background-activity-header);
        backdrop-filter: var(--filter-blur);
        height: 60px;
        display: grid;
        padding: 0 var(--padding);
        grid-auto-flow: column;
        grid-auto-columns: 1fr auto 1fr;
        grid-auto-rows: 100%;  
        pointer-events: all;
    }
        .root > header > img.brand
        {
            height: 40%;
        }
        .root > header > nav
        {
            all: unset;
            display: grid;
            grid-auto-flow: column;
            gap: 25px;
        }
            .root > header > nav > a
            {
                display: block;
                text-decoration: none;
                color: inherit;
                margin: 0;
                padding: 0.25em 0.5em;
                border-radius: 6px;
                letter-spacing: 0.025em;
            }
        .root > header > div.buttons
        {
            display: grid;
            justify-items: end;
        }
            .root > header > div.buttons > button > span.icon
            {
                font-size: 1em;
            }
    .root > section.main
    {
        margin-top: 90px;
    } 